* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    background: #DDD;
    color: #666;
    margin: 0;
    padding: 0;
    height: 100%;
}

.wrapper {
    min-height: 100%;
}
#header {
    padding: 1em;
    text-align: center;
}
#controller {
    text-align: center;
}
#container:after {
    content: "";
    visibility: hidden;
    display: block;
    clear: both;
}
.col2 {
    float: left;
    width: 50%;
    min-height: 100%;
    padding: 1em;
}
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background: #C9C9C9;
    border-top: 1px solid #FFF;
    text-align: center;
}
#footer p {
    margin: 0;
    color: #999;
    text-shadow: 1px 1px 0 #FFF;
}
h3, h5 {
    margin: 0;
    padding: 0;
}


.input-group {
    width: 100%;
    display: table;
    margin-bottom: 5px;
}

input, textarea {
    width: 100%;
    background: #FFF;
    padding: 8px;
    border: 1px solid #888;
    border-radius: 6px;
    outline: none;
    box-shadow: inset 0px 0px 6px #DDD;
    font-family: "Consolas", monospace;
    transition: background-color 0.25s;
}

input {
    font-size: 18px;
}

textarea {
    resize: none;
    overflow: hidden;
    font-size: 18px;
    height: 38px;
}

input[disabled], textarea[disabled] {
    background: #EEE;
    text-shadow: 1px 1px 0 #FFF;
}

legend {
    color: #666;
    font-size: 15px;
    font-family: monospace;
    text-shadow: 1px 1px 0 #FFF;
}

button {
    background: #8D92E5;
    border: 1px solid #626999;
    color: #FFF;
    padding: 8px;
    font-family: "Lucida sans", sans-serif;
    margin-bottom: 10px;
    text-shadow: 1px 1px 0 #383838;
    cursor: pointer;
    outline: none;
}

button:hover {
    background: #2C3B84;
}
