body {
    background: #F8F8F8;
}

.box {
    float: left;
    width: 45%;
    margin: 20px;
}

.error {
    background: #FFCDCD;
}

textarea {
    resize: none;
    overflow: hidden;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 0.1em;
    font-family: Consolas, monospace;
}

input {
    display: block;
    font-family: Consolas, monospace;
    margin: 10px;
    border: 1px solid #AAA;
}

input#rounds {
    display: inline;
    background: none;
    border: none;
    outline: none;
    width: 40px;
    margin: 0;
    border-bottom: 2px solid #FE45DE;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}

input#key {
    font-family: Consolas, monospace;
    width: 90%;
    font-size: 18px;
    letter-spacing: 0.1em;
    padding: 3px;
}
input#key-hex {
    font-size: 16px;
    letter-spacing: 0.5em;
    min-width: 300px;
    padding: 3px;
}