body {
    background: #F8F8F8;
    padding: 20px;
}

h1 {
    margin-top: 0;
}

.box {
    float: left;
    width: 45%;
}

#cipher-block {
    margin-left: 30px;
}

.error {
    background: #FFCDCD!important;
}

textarea {
    resize: none;
    overflow: hidden;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 0.1em;
    font-family: Consolas, monospace;
    transition: background, 0.5s;
}

input {
    display: block;
    font-family: Consolas, monospace;
    margin: 10px 0;
    padding: 8px;
    border: 1px solid #AAA;
    width: 90%;
}

input#rounds {
    display: inline;
    background: none;
    border: none;
    outline: none;
    width: 40px;
    margin: 0;
    border-bottom: 2px solid #FE45DE;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}

input#key {
    font-family: Consolas, monospace;
    font-size: 18px;
    letter-spacing: 0.1em;
    max-width: 800px;
}
input#key-hex {
    font-size: 16px;
    letter-spacing: 0.5em;
    max-width: 288px;
}

@media screen and (max-width: 800px) {
    .box {
        float: none;
        width: 90%;
    }
    #cipher-block {
        margin-left: 0;
    }
}
